@media screen and (min-width: 600px) {
  .page-layout {
    display: grid;
    grid-template-columns: repeat(2, minmax(17rem, 1fr));
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
    .header-bg {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
    .header {
      grid-column: 1 / span 2;
      grid-row: 1;
      display: grid;
      grid-template-columns: repeat(2, minmax(17rem, 1fr));
      grid-template-rows: repeat(4, auto);
      gap: 1rem;
      .header__intro-default {
        grid-column: 1 / span 2;
        grid-row: 1;
        margin-bottom: 2rem;
        .intro-default__wrapper {
          .intro-default {
            .search-field {
              input {
                &:focus {
                  width: 250px;
                }
              }
            }
          }
        }
      }
      .header__article-news {
        grid-column: 1 / span 2;
        grid-row: 2 / span 3;
        margin-bottom: 1rem;
        .header__article-01 {
          margin: 0 0 1rem 0;
          width: 100%;
          .text-wrapper {
            bottom: 2rem;
            .article__title {
              line-height: 2.688rem;
              letter-spacing: -0.08rem;
              width: 70%;
            }
            .article__paragraph {
              font-size: 0.8rem;
              line-height: 1.25rem;
            }
          }
        }
        .news {
          max-width: 90%;
          max-height: 25rem;
          margin-top: 1.5rem;
          .news-list,
          .news-list__outer {
            max-width: 100%;
            height: 23rem;
          }
        }
      }
    }
    .main {
      grid-column: 1 / span 2;
      grid-row: 2;
      display: grid;
      grid-template-columns: repeat(2, minmax(17rem, 1fr));
      grid-template-rows: repeat(17, auto);
      column-gap: 1rem;
      justify-content: center;
      .commercial {
        grid-column: 1 / span 2;
        grid-row: 1;
      }
      // ********** ERDEKES **********
      .erdekes {
        grid-column: 1 / span 2;
        grid-row: 2;
      }
      //********** END OF ERDEKES **********
      // ********** POLITIKA **********
      .politika {
        grid-column: 1 / span 2;
        grid-row: 3;
        &__article-wrapper {
          .politika__link-container {
            .politika__link {
              margin: 0 1rem 0 0;
            }
            .link-standalone {
              margin-left: 7rem;
            }
          }
        }
      }
      // ********** END OF POLITIKA **********
      // ********** TARSADALOM **********
      .tarsadalom {
        grid-column: 1 / span 2;
        grid-row: 4;
        &__article-wrapper {
          .tarsadalom__link-container {
            .tarsadalom__link {
              margin: 0 1rem 0 0;
            }
            .link-standalone {
              margin-left: 0;
            }
          }
        }
      }
      // ********** TARSADALOM **********
      // ********** GALERIA **********
      .galeria {
        grid-column: 1 / span 2;
        grid-row: 5 / span 4;
        &__content-wrapper {
          display: grid;
          grid-template-columns: repeat(2, minmax(17rem, 1fr));
          grid-template-rows: repeat(4, auto);
          gap: 1rem;
          .slider-container {
            grid-column: 1 / span 2;
            grid-row: 1;
            margin: 0;
            .galeria__slider {
              .slide {
                &__title {
                  left: 2rem;
                  bottom: 1.5rem;
                  line-height: 2.2rem;
                  font-size: 2rem;
                  width: 60%;
                }
              }
            }
          }
          .galeria__article {
            margin: 0;
            &--1 {
              justify-self: right;
              grid-column: 1;
              grid-row: 2;
              .article__title {
                width: 83%;
              }
            }
            &--2 {
              grid-column: 2;
              grid-row: 2;
              .article__title {
                width: 80.5%;
                padding-right: 0;
              }
            }
            &--3 {
              justify-self: right;
              grid-column: 1;
              grid-row: 3;
              .article__title {
                width: 82%;
              }
            }
            &--4 {
              justify-self: right;
              grid-column: 1;
              grid-row: 4;
              .article__title {
                width: 71.9%;
              }
            }
          }
          .horoszkop {
            grid-column: 2;
            grid-row: 3 / span 2;
            margin: -0.4rem 0 0 0;
            max-width: 23.75rem;
            &__slider-container {
              margin: 0;
              margin-top: 1rem;
              max-width: 100%;
              .horoszkop__slider {
                max-width: 80%;
                height: auto;
                margin: 0 auto;
              }
            }
          }
        }
      }
      // ********** END OF GALERIA **********
      // ********** HIRADO **********
      .hirado {
        grid-column: 1;
        grid-row: 9;
        margin: 0 0 0 1rem;
        &__item-bg {
          .hirado__item-container {
            .item {
              .article__title {
                bottom: 1rem;
                left: 2rem;
              }
            }
          }
        }
      }
      // ********** END OF HIRADO **********
      // ********** MIT FOZZEK MA**********
      .mit-fozzek-ma {
        grid-column: 2;
        grid-row: 9;
        // margin: 0 1rem 0 0.625rem;
        margin: 0 1rem 0 auto;
      }
      // **********END OF MIT FOZZEK MA**********
      // **********KOZUGYEK**********
      .kozugyek {
        grid-column: 1 / span 2;
        grid-row: 10;
        &__article-wrapper {
          .kozugyek__main-article {
            grid-row: 1 / span 2;
          }
          .kozugyek__article {
            &--1 {
              .article__title {
                max-width: 80%;
              }
            }
            &--2 {
              .article__title {
                max-width: 88%;
              }
            }
            &--3 {
              .article__title {
                max-width: 87%;
              }
            }
            &--4 {
              .article__title {
                max-width: 67%;
              }
            }
          }
        }
      }
      .kozugyek-commercial {
        grid-column: 1 / span 2;
        grid-row: 11;
        display: grid;
        grid-template-columns: repeat(2, minmax(17rem, 1fr));
        gap: 1rem;
        align-items: center;
        &__article {
          margin: 0;
          &:first-of-type {
            display: block;
            grid-column: 1;
            justify-self: right;
          }
          &--2 {
            grid-column: 2;
            justify-self: left;
          }
        }
      }
      // **********END OF KOZUGYEK**********
      // ********** SZUBJEKTIV **********
      .szubjektiv {
        grid-column: 1 / span 2;
        grid-row: 12;
        &__article-wrapper {
          .szubjektiv__article {
            margin: 0;
          }
        }
      }
      // ********** END OF SZUBJEKTIV **********
      // ********** MUSORAINK **********
      .musoraink-bg {
        grid-column: 1 / span 2;
        grid-row: 13;
        margin-top: 1.5rem;
      }
      .musoraink {
        grid-column: 1 / span 2;
        grid-row: 13;
        margin-top: 1.5rem;
        &__slider-container {
          .musoraink__slider {
            .nav-arrows {
              width: 100%;
              position: absolute;
              top: 40%;
              .slick-prev {
                position: absolute;
                left: 4%;
                background: transparent;
                border: none;
                &::before {
                  font-family: Linearicons-Free;
                  font-weight: 700;
                  -webkit-font-smoothing: antialiased;
                  content: "";
                  color: #ffffff;
                  font-size: 30px;
                  font-variant: normal;
                  cursor: pointer;
                }
              }
              .slick-next {
                position: absolute;
                right: 4%;
                background: transparent;
                border: none;
                &::before {
                  font-family: Linearicons-Free;
                  font-weight: 700;
                  -webkit-font-smoothing: antialiased;
                  content: "";
                  color: #ffffff;
                  font-size: 30px;
                  font-variant: normal;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      // ********** END OF MUSORAINK **********
      //*********** MUSOR *************
      .musor {
        grid-column: 1 / span 2;
        grid-row: 14;
      }
      //*********** END OF MUSOR *********
      //*********** AJANLO *********
      //********* KOZMUVEK *****
      .kozmuvek {
        grid-column: 1;
        grid-row: 16;
        margin-bottom: 0;
      }
      //********* END OF KOZMUVEK *****
      .ajanlo {
        grid-column: 2;
        grid-row: 16;
        margin: 0 1rem 0 0;
      }
      //*********** AJANLO *********
      //********** KOZERDEKU *******
      .kozerdeku {
        grid-column: 1 / span 2;
        grid-row: 15;
        .kozerdeku-list {
          grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
          &__item {
            .item__text {
              .text__title {
                margin-top: 0.3rem;
              }
            }
          }
        }
      }
      //********* END OF KOZERDEKU ***
      //********* CIVILI *****
      .civili {
        grid-column: 1 / span 2;
        grid-row: 17;
        margin-bottom: 2rem;
        &__list {
          display: flex;
          .list-item {
            margin-right: 2rem;
          }
        }
      }

      //********* END OF CIVILI *****
    }
    .footer-bg {
      grid-column: 1 / span 2;
      grid-row: 3;
    }
    .footer {
      grid-column: 1 / span 2;
      grid-row: 3;
      margin: auto;
      &__items-wrapper {
        .logo {
          margin-top: 2rem;
        }
        .impresum {
          .impresum-item {
            font-size: 0.8rem;
          }
        }
        .madeby {
          margin: 1rem auto;
          .madeby-text {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .page-layout {
    .header {
      .header__intro-default {
        .intro-default__wrapper {
          max-width: 49.938rem;
        }
      }
      .header__article-news {
        margin-top: 3rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        .header__article-01 {
          width: 50%;
          margin: 0;
        }
        .article-group {
          display: flex;
          flex-direction: column;
          margin: 0;
          &__article {
            .article__title {
              line-height: 1.3rem;
              font-size: 1.188rem;
            }
            &--01 {
              margin-bottom: 0;
              margin-right: 0;
            }
            &--02 {
              margin-left: 0;
            }
          }
        }
      }
    }
    .main {
      .article__title {
        font-size: 1.1rem;
        line-height: 1.4rem;
      }
      .politika {
        &__article-wrapper {
          .politika__main-article {
            .article__text-wrapper {
              bottom: 2rem;
              .article__title {
                font-size: 2rem;
                line-height: 2.2rem;
              }
            }
          }
        }
      }
      .tarsadalom {
        &__article-wrapper {
          .tarsadalom__main-article {
            .article__text-wrapper {
              .article__title {
                font-size: 2rem;
                line-height: 2.2rem;
              }
            }
          }
        }
      }
      .galeria {
        &__content-wrapper {
          .slider-container {
            margin-bottom: 1rem;
            justify-self: center;
            .galeria__slider {
              .slide {
                position: relative;
                outline: none;
                &__title {
                  bottom: 1rem;
                  left: 1.5rem;
                }
              }
            }
          }
        }
      }
      .hirado {
        margin: 0 -5.625rem 0 1rem;
        &__item-bg {
          padding: 2rem 1rem;
          .hirado__item-container {
            .item-group {
              display: none;
            }
          }
        }
      }
      .mit-fozzek-ma {
        grid-column: 2;
        grid-row: 9;
        margin: 0 1rem 0 6.625rem;
      }
      .kozugyek-commercial {
        grid-column: 1 / span 2;
        grid-row: 11;
        display: grid;
        grid-template-columns: repeat(2, minmax(17rem, 1fr));
        gap: 1rem;
        align-items: center;
        &__article {
          margin: 0;
          &:first-of-type {
            display: block;
            grid-column: 1;
            justify-self: right;
          }
          &--2 {
            grid-column: 2;
            justify-self: left;
          }
        }
      }
      .szubjektiv {
        &__article-wrapper {
          .szubjektiv__article {
            &--3 {
              display: inline;
            }
          }
        }
      }
      .ajanlo {
        grid-column: 2;
        grid-row: 16;
        margin: 0 1rem 0 0;
      }

      .kozerdeku {
        grid-column: 1 / span 2;
        grid-row: 15;
      }
      .kozmuvek {
        grid-column: 1;
        grid-row: 16;
        margin-bottom: 0;
      }
      .civili {
        grid-column: 1 / span 2;
        grid-row: 17;
      }
    }
    .footer {
      grid-column: 1 / span 2;
      margin: 0;

      &__items-wrapper {
        flex-direction: row;
        justify-content: space-between;
        .logo {
          margin: 0 auto 1.5rem auto;
          &__img-wrapper {
            text-align: start;
          }
          .copyright {
            text-align: start;
          }
        }
        .impresum {
          margin: 5% auto;
        }
        .madeby {
          margin: 5.5% auto;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .page-layout {
    .header {
      .header__intro-default {
        .intro-default__wrapper {
          max-width: 55rem;
        }
      }
      .header__article-news {
        .header__article-01 {
          width: auto;
        }
        .news {
          max-width: 75%;
        }
      }
    }
    .main {
      .erdekes {
        &__article-wrapper {
          .erdekes__article {
            margin: 0;
          }
        }
      }

      .musor {
        margin: 0 1rem;
        .musor-lists__container {
          max-width: 61.125rem;
          margin: 0 auto 2rem auto;
          display: grid;
          grid-template-columns: repeat(3, 19.5rem);
          grid-column-gap: 1.3rem;
          .musor-list__wrapper {
            &--1 {
              grid-column: 1;
            }
            &--2 {
              grid-column: 2;
            }
            &--3 {
              grid-column: 3;
            }
            .musor-list__outer {
              max-width: 19rem; //change
              max-height: 25.2rem;
              &:not(:last-child) {
                margin-right: 0.5rem; //change
              }
              .musor-list__inner {
                .musor-list {
                  max-width: 19rem; //change
                  max-height: 25rem;
                  .musor-list__item {
                    font-size: 1rem;
                    line-height: 1.4rem;
                    padding: 0.7rem 0;
                    &:after {
                      bottom: 1.875rem;
                    }
                    &-time {
                      padding: 0 1.5rem 0 0.8rem;
                    }
                    &-title {
                      padding: 0 02rem;
                    }
                  }
                  &--1 {
                    .focus {
                      padding: 2.3rem 0;
                    }
                    .no-focus {
                      color: #79919d;
                    }
                  }
                  &--2 {
                    .musor-list__item {
                      &:nth-child(1) {
                        padding: 0.6rem 0;
                      }
                    }
                    .focus {
                      padding: 2.3rem 0;
                    }
                  }
                  &--3 {
                    .focus {
                      padding: 2.3rem 0;
                    }
                  }
                }
              }
            }
            .musor-list__title {
              font-size: 1.45rem;
              font-weight: 800;
              padding: 0.55rem 0;
              letter-spacing: -0.02rem;
              &--1 {
                top: 88%;
                max-width: 47%;
                left: 0;
              }
              &--2 {
                top: 88%;
                max-width: 57%;
                left: 0;
              }
              &--3 {
                top: 88%;
                left: 0;
                max-width: 47%;
              }
              &--4 {
                top: 95%;
                left: 0;
                max-width: 56%;
              }
              &-link {
                text-decoration: none;
                color: #273238;
              }
            }
          }
        }
      }
    }
  }
}
